/* Reset some default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота равная 100% видимой высоты окна браузера */
}

/* Style the header and navigation */
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #4CAF50;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #398E3D;
}

.header nav ul li.active a {
    background-color: darkgreen;
}

/* Additional styles for the Rentals page */
.rentals-section {
    margin: 20px;
    text-align: center;
    flex: 1; /* Занимает оставшееся пространство между header и footer */
}

.rental-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.rental-item img {
    max-width: 100%;
    height: 230px;
}

.rental-item h3 {
    margin-top: 20px;
    font-size: 18px;
}

.rental-item p {
    font-size: 14px;
}

.rental-item p.price {
    font-weight: bold;
    color: #007bff;
}

.rent-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Hover effect for rental items */
.rental-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional styles for the Sales page */
.sales-section {
    margin: 20px;
    text-align: center;
    flex: 1;
}

.sale-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.sale-item img {
    max-width: 100%;
    height: 230px;
}

.sale-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.sale-item p {
    font-size: 14px;
}

.sale-item p.price {
    font-weight: bold;
    color: #007bff;
}

.buy-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Hover effect for sale items */
.sale-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

.smart-section {
    text-align: center;
    margin: 20px;
}

.smart-section h2 {
    font-size: 24px;
    color: #4CAF50;
}

.smart-section p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}