/* Reset some default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style the header and navigation */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center; /* Center-align the content */
    transition: background-color 0.3s ease; /* Smooth transition */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox*/
    justify-content: space-between; /* Evenly distribute items */
    background-color: #4CAF50; /* Set the background color for the entire header */
}

nav ul li {
    flex: 1; /* Distribute available space evenly */
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 0; /* Adjust padding */
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    color: white; /* Green color, you can adjust as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #398E3D; /* Darker background on hover */
}

.header nav ul li.active a {
    background-color: darkgreen; /* Set your desired active color */
    /* Add any additional styles for the active state */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}

.content {
  flex: 1;
  max-width: 50%; /* Decrease the content width */
  margin-right: 20px;
}

.image-container {
  flex: 1;
  max-width: 45%; /* Decrease the image width */
  text-align: right;
  margin-left: 20px;
}

/* Additional styles for the content */

.content h2 {
  font-size: 33px;
  margin-bottom: 10px;
}

.rent-button {
  display: inline-block;
  padding: 15px 70px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 22px;
  font-family: 'Arial Black', sans-serif;
}

.rent-button:hover {
  background-color: #398E3D;
}

/* Adjust these styles to fit your image size */
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.description-section {
    background: #A2DA8B;
}

.description-text {
    padding-right: 10%;
    padding-left: 10%;
    font-size: 15px;
}

.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    font-family: 'Arial Black', sans-serif;
}